<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn btn-danger" id="scrape-new">SCRAPE NEW ARTICLES!</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger" id="clear">CLEAR ARTICLES!</button>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>Reddit Photography</p>
    </div>
</div>

<div class="container">
    {{#unless articles}}
    <div class="alert alert-warning text-center">
        <h4>Uh Oh. Looks like we don't have any new articles.</h4>
        <p>Click <i>Scrape New Articles</i> above to start</p>
    </div>
    {{/unless}}
    {{#each articles}}
    <div class="card">
        <h5 class="card-header"><a href="https://www.reddit.com/{{link}}">{{title}}</a></h5>
        {{#if description}}
        <div class="card-body">
            <p class="card-text">{{description}}</p>
        </div>
        {{/if}}
        {{#if notes}}
        <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            {{#each notes}}
            <li class="list-group-item"><span class="note">{{body}}</span><button class="btn btn-danger delete-note"
                    data-note-id="{{_id}}">X</button></li>
            {{/each}}
        </ul>
        {{/if}}
        <div class="card-body">
            <form class="note-form form-inline" data-article-id="{{_id}}">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" placeholder="Add a note"></input>
                </div>
                <button class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>